<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutriapp.nutriapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Parenteral"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/makanan_parenteral_header" />
        <activity
            android:name=".MakananExternalActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Parenteral"
            android:label="@string/makanan_external_header" />
        <activity
            android:name=".TambahJadwalExternal"
            android:screenOrientation="portrait"
            android:parentActivityName=".MakananExternalActivity"
            android:label="@string/tambah_jadwal_header" />
        <activity
            android:name=".UpdateJadwalExternal"
            android:screenOrientation="portrait"
            android:parentActivityName=".MakananExternalActivity"
            android:label="@string/update_jadwal_external" />
        <activity
            android:name=".AddFood"
            android:screenOrientation="portrait"
            android:parentActivityName=".TambahJadwalExternal"
            android:label="@string/tambah_makanan_header" />
        <activity
            android:name=".AddParenteral"
            android:screenOrientation="portrait"
            android:parentActivityName=".Parenteral"
            android:label="@string/tambah_parenteral_header" />
        <activity
            android:name=".UpdateParenteral"
            android:screenOrientation="portrait"
            android:parentActivityName=".Parenteral"
            android:label="@string/update_parenteral" />
        <activity
            android:name=".UpdateFood"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/update_food" />
        <activity
            android:name=".ResultParenteral"
            android:screenOrientation="portrait"
            android:parentActivityName=".MakananExternalActivity"
            android:label="@string/result_parenteral_header" />
        <activity
            android:name=".Result"
            android:screenOrientation="portrait"
            android:parentActivityName=".ResultParenteral"
            android:label="@string/result_header" />
    </application>

</manifest>